.btn {
  color: var(--theme);
  font-size: 0.8rem;
  align-items: center;
  width: 100%;
  margin: 1rem 0rem;
  padding: 0.5rem !important;
  background-color: #fff;
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: auto !important;
  border: 1px solid var(--theme);
}
.btn:hover {
  background-color: var(--theme);
  color: #fff;
  transition: all 0.3s;
}
.btn-blue {
  background-color: var(--theme);
  color: #fff;
}
.btn-blue:hover {
  background-color: white !important;
  color: var(--theme);
  transition: all 0.3s;
}
