.my-card {
  box-shadow: var(--shadow-color);
  margin: 1rem;
  border-radius: 0.5rem;
  min-width: 300px;
  flex: 1;
  /* padding: 0.2rem !important; */
  font-family: "Montserrat", sans-serif;
}
.ant-card-head-title {
  margin: 0 !important;
  font-weight: 600;
}
.my-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
  flex-wrap: wrap;
  gap: 16px;
  width: 90%;
}
.my-card p {
  margin: 0;
}
